# venv
web_scrapping/*

# Checkpoints jupyer
.ipynb_checkpoints

#mis notas del examen para repaso
Examen Curso de Web Scraping.pptx
# don't ask for, you won't get it 
# Hacer trampa no produce conocimiento, no te engañes solo